table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.error {
    color: red;
    text-align: center;
}

.cancel {
    background-color: #ff4343;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content input[type="text"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}