body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

.join-button {
    padding: 12px 24px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #45a049;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token-input {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
}