table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

